


body{
  background-color: #0B2434; 
  height: 100vh;
  align-content: center;
  margin: 0;
  padding: 0;
  font-family: Karla,  sans-serif;
}



main{
  background-color:#F5F5F5;
  height: 25rem;
  max-width: 22rem;
  margin: auto;
  padding: 1rem;
  border-radius:8px ;
  -webkit-border-radius:8px ;
  -moz-border-radius:8px ;
  -ms-border-radius:8px ;
  -o-border-radius:8px ;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.dices{
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(5, auto);
  justify-items: center;
}

.title {
  font-size: 40px;
  margin: 0;
}

.instructions {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  margin-top: 0;
  text-align: center;
}


.dice{
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  background-color: white;
  border: none;
  cursor: pointer;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15); 
  font-family: inherit;
}

button div{
  width: 10px;
  height: 10px;
  background-color:black;
  border-radius: 50%;
     }

button[data-dot='1'], button[data-dot='2'], button[data-dot='3']{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

button[data-dot='3'] div {
  flex: 1;
}

button[data-dot='4'], button[data-dot='5'], button[data-dot='6']{
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  justify-items: center;
}

button[data-dot='5'] div:nth-child(4){
  grid-row: 3 ;
  grid-column: 2;
}

button[data-dot='5'] div:nth-child(3){
  
  grid-row: 3;
}

button[data-dot='5'] div:nth-child(5){
  position: relative;
  left: 9px;
}


.roll-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}



.roll-dice {
  height: 50px;
  width: 100px;
  border: none;
  border-radius: 6px;
  background-color: #5035FF;
  color: white;
  font-size: 1.2rem;
  font-family: 'Karla', sans-serif;
  cursor: pointer;
}


.roll-dice:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}


.held{
  background-color: #59E391;
}
